html, body {
    width: 100vw;
    
}

section {
    overflow-x: auto;
}


nav.navbar {

    border-bottom: 3px solid #ff8a00;
    
}

.navbar-brand img {
    position: absolute;
    top: 11px;
}
.secciones {
    width: 100%;
    padding: 30px;

}
#principal {
    padding: 0;
}
.fecha-evento {
    background-image: linear-gradient(to top right, rgba(0,0,0, 0.2), rgba(255,255,255,0.2));
    background-color: gray;
    width: 100%;
    height: 160px;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

.fecha-evento .dia{
    font-size: 70px;
    margin: 0;
}
.fecha-evento .mes{
    font-size: 24px;
    margin: 0;
}

.violeta {
    background-color: purple;
}

.card-evento {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.192);
    border: none;
    
}
.card-evento .btn{
    border-radius: 18px;
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
}
.videos {
    

}
.sponsor {
    display: flex;
    flex: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.sponsor img{
    width: 150px;
}

footer .list-group li a,
footer .list-group li,
footer h4{ 
    color: white;

}


.redes a i {
    font-size: 30px;
    margin: 10px;
    text-shadow:0 0 90px white;
}


.desplegable-menu a:hover {
    background: #ff8a00;
    color: white;
    
    
    
}

.desplegable-menu{
    border: none;
}


.marcelo iframe {
    
   height: 200px;
   width: 300px;

}
.marcelo img


.nosotros {
    background: rgba(139, 123, 123, 0.445);
}
.video-flotante {
    
     position: absolute;
     border: 2px solid white;
    bottom: -15%;
    left: -8%;
}

.contenedor-reloj {
  background:   linear-gradient(to bottom right, #fc4a1a, #f7b733), url(../img/fondo1.jpg) no-repeat 0 10%; 
  color: white;
  background-blend-mode: multiply;

}
.titulo-reloj {

    font-size: 3em;
}

.reloj {
    font-size: 7em;
}

.boton-vamos {
    background: purple;
    color: white;
}
.nav-item.active a {
  color: #ff8a00 !important;

}